@import "src/assets/scss/variables";

.login-wrapper {
  margin-top: 200px;

}

.example-card {
  max-width: 400px;
  width: 336px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link{
  color: $primary-blue;

  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
.or {
  margin: 12px 0;
}
